@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
/* NOTE: SHOULD TRY TO IMPORT FONTS THE NEXTJS WAY */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*/

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: "League Spartan", sans-serif;

  /* --fw-light: 300;
  --fw-regular: 400; */
  --fw-medium: 500;
  /* --fw-semi-bold: 600; */
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-50: 3.125em;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-black-text: hsl(228, 29%, 7%);

  --clr-black-2: hsl(233, 30%, 11%);
  --clr-black-3: hsl(233, 31%, 17%);

  --clr-ebony-clay: hsl(233, 30%, 21%);
  --clr-regent-grey: hsl(231, 20%, 61%);

  --clr-medium-slate-blue: hsl(252, 94%, 67%);
  --clr-purple-mimosa: hsl(252, 100%, 73%);
  --clr-wild-blue-yonder: hsl(231, 37%, 63%);
  --clr-link-water: hsl(231, 73%, 93%);

  --clr-valentine-red: hsl(0, 80%, 63%);
  --clr-light-salmon-pink: hsl(0, 100%, 80%);

  --clr-white-lilac: hsl(240, 27%, 98%);

  /* Basics */

  /* Text */

  /* Elements */

  /* Background  */

  /* Others */
}

body {
  background: var(--clr-white-lilac);
  color: var(--clr-black-text);

  font-family: "League Spartan", sans-serif;
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.125;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

/* ================== */
/* Icons */
/* ================== */

/* ================== */
/* Utility styles */
/* ================== */

/* ================== */
/* SECTIONS */
/* ================== */

/* ================== */
/* MEDIA QUERIES */
/* ================== */
